html {
  font-family: sans-serif; */
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  background-color: white;
  /* rgb(150, 163, 183); */
  margin: 0;
}

ul {
    width: 100%;
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
form {
  position: relative;
  display: inline;
}
label {
  color: black;
   font-size: 1em;
}
btn-success {
  float: none;
  margin-right: 5em;
}
#login {
  margin-bottom: 2em;
}
.forgotten {
  color: black;
  font-style: none;
  display: inline-block;
  margin-top: 2%;
}
.create {
  display: inline-block;
  margin-top: 2%;
  color: black;
  font-style: none;
}
.navbar-header {
  position: relative;
  height: 20%;
  width: 100%
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-cart {
  position: relative;
  display: flex;
  float: right;
}
.nav-signin {
  flex-wrap: wrap;
  float: right;
  /* margin-left: 80%; */
}
.panel-heading {
  font-size: 2em;
  color: white;
  margin-bottom: 2em;
}
